---
import Layout2 from "@/layouts/Layout2.astro";
import Footer from "@/sections/Footer.astro";
import { getLandingData } from "@/services/data.service";

const data = await getLandingData();
const teamMembers = [
  {
    name: "Nguyen Van Tha",
    role: "CEO & Founder",
    image: "anh1.png",
    bio: "Mr.Tha is the visionary behind the company, leading the team with over 10 years of experience in e-commerce and advertising."
  },
  {
    name: "Nguyen Duc Tung",
    role: "Marketing Director",
    image: "anh2.jpg",
    bio: "Tung heads our marketing team, specializing in crafting effective advertising campaigns that drive growth."
  },
  {
    name: "Support Team",
    role: "Support Team",
    image: "member.jpg",
    bio: "Linh is our tech genius, ensuring that our digital products and services are cutting-edge and user-friendly."
  }
];
---

<head>
	<!-- Thêm Font Awesome CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<Layout2 meta={data.meta}>
  <main class="flex flex-col justify-center items-center bg-gray-100 py-12">
    <div class="w-3/4">
      <!-- Team Section -->
      <section class="my-16">
        <h2 class="text-4xl font-bold text-center mb-8 text-blue-600">Ops Ads Team</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
          {teamMembers.map((member) => (
            <div class="text-center p-6 bg-white shadow-lg rounded-lg hover:shadow-xl transition-shadow duration-300 flex flex-col items-center">
              <img src={member.image} alt={member.name} class="rounded-full w-18 h-18 mx-auto mb-4 border-4 border-blue-500 transition-transform duration-300 transform hover:scale-110"/> <!-- Cập nhật kích thước ảnh -->
              <h3 class="text-xl font-semibold text-gray-800 mb-2">{member.name}</h3>
              <p class="text-gray-600 mb-1">{member.role}</p>
              <p class="mt-2 text-gray-500">{member.bio}</p>
            </div>
          ))}
        </div>
      </section>


    </div>
  </main>
  <Footer data={data.footerData} />
</Layout2>
